.logo {
    background: white;
    height: 100px;
    width: 100%;
    /* line-height: 50px; */
}

.topo {
    display: -webkit-flex;
    display: flex;
}

.boxLogo {
    height: 80px;
    width: 120px;
    line-height: 48px;    
    margin: 5px 5px 5px 15px;
    -webkit-flex: initial;
    flex: initial;
    margin-left: 35px;
}

.boxLogo img {
    max-width: 100%;
    max-height: 100%;
}

.nomeTopo {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    -webkit-flex: 1;
    flex: 1;
}

.nomeRodape {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
}

.content {
    padding: 12px;
    background: '#ddd';
    min-height: 100vh
}

.userTopo {
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.topoBuscaRapida {
    float: right;
    width: 100%;
    min-width : 128px;
    max-width: 700px;
    height: 65px;
    margin-top: 15px;
    margin-left: 10px;
}

.selectBuscaRapida {
    align-items: center;
    display: flex;
    width: 100%;
}

/* até 1200px  */
/* dropdown do select busca rápida continua grande mesmo em tela pequena. */
@media screen and (max-width: 1200px) {
    .dropdownBuscaRapida {
        width: 70% !important;
    }    
}